


.top__elements{
  fill:#fdbb07 !important;
}

.phScreen{
  overflow:hidden;
}


.overflowv{
  overflow:visible !important;
}

.topFrame{
  fill:#bec8d2 !important;
}

.roundB{
  fill:#fdbb07 !important;
}

.sg{
  color:#cecece;
  font-weight:200 !important;
}

.bwcls-1 {
  fill: none;
}

.bwcls-2 {
  fill: #e2e2e2;
}

.bwcls-3 {
  clip-path: url(#clip-path);
}

.bwcls-4 {
  fill: #f3b714;
}


.bwcls-31 {
  fill: #ffd972;
}

.bwcls-32 {
  fill: #fff;
}

.bwcls-33 {
  fill: #c4c4c4;
}