/**
* Book
**/

#book {
  background: $color-book;
  color: $color-white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  #particles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .book__cover {
    color: $color-white;
    height: 640px;
    border: 4px solid $color-white;
    background: transparent;
    position: relative;
    padding: 120px 0 0 30px;
    max-width: 470px;
    margin: 0 30px 3rem 0;
    z-index: 3;
    &::after {
      content: ' ';
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $color-yellow;
      height: 13px;
    }
    h4 {
      font-family: 'Bebas Neue', sans-serif;
      font-size: 82px;
      line-height: 67px;
      position: relative;
    }
    h2 {
      font-family: $font-secondary;
      width: 61%;
      font-size: 22px;
      position: relative;
    }
    h3 {
      position: absolute;
      bottom: 40px;
    }
    i {
      display: block;
      width: 44%;
      height: 13px;
      background-color: $color-white;
      margin: 5px 0 10px;
    }
  }
  .book__text {
    width: 49%;
    position: relative;
    z-index: 3;
  }
  .title,
  .title-top,
  p {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  }
}