/**
* SOCIAL LIST
**/

.social__list {
  display: flex;
  justify-content: center;
  text-align: center;

  .social__element {
    margin: 0 1rem 0 0;

    .social__item {
      display: inline-block;

      &.linkedin {
        color: #0077b5;
        fill: #0077b5;
      }
      &.dribbble {
        color: #ea4c89;
        fill: #ea4c89;
      }
      &.github {
        color: #4183c4;
        fill: #4183c4;
      }
      &.twitter {
        color: #4099ff;
        fill: #4099ff;
      }
      &.codepen {
        color: #fff;
        fill: #fff;
      }
      &.medium {
        color: #00ab6b;
        fill: #00ab6b;
      }
    }
  }
}