/**
* Navigation
**/

.navigation{
  transition:all 300ms ease-in-out;

  &.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    opacity: 0.3;
    background-color: #000;
    transition:opacity 300ms ease-in-out;

    &:hover{
      opacity: 1;
    }

    ul {
      justify-content: center;
    }
  }
  ul {
    display: flex;
    justify-content: flex-end;

    li{
      margin: 0;

      a{
        font-family: $font-secondary;
        color: $color-white;
        padding: 1.5rem;
        display: inline-block;
      }      
    }


  }
}