---
import Heading from '@/components/Heading.astro';
import MainLayout from '@/layouts/MainLayout.astro';

import TimelinePosts from '@/components/TimelinePosts.astro';

const timelineEntries = [
  {
    year: '2025',
    highlight: true,
    content: 'Joined BQ as a Senior Frontend Developer, contributing to education platform.',
  },
  {
    year: '2024',
    highlight: false,
    content:
      'Joined FCM Travel as a Senior Frontend Developer, contributing to the platform’s restyling and implementing a custom ReactJS component library.',
  },
  {
    year: '2023',
    highlight: true,
    content: [
      'Joined Marketgoo as a Senior Frontend Developer, optimizing development processes, implementing testing strategies, and supporting product and design teams.',
      'Launched my personal project "topdelmes.com," an AI-powered platform for ranking movies and series.',
    ],
  },
  {
    year: '2019',
    highlight: true,
    content: [
      'Became Lead Frontend Developer at urbanData Analytics, spearheading a complete product refactor and creating an open-source ReactJS component library.',
    ],
  },
  {
    year: '2015',
    highlight: true,
    content: [
      'Joined BTS as a Full Stack Developer, where I led the development of a knowledge management platform using REST APIs and scalable architectures.',
      'Started teaching Web Development and Programming at U-tad, mentoring students and supporting their final projects.',
    ],
  },
  {
    year: '2013',
    content: [
      'Transitioned to Axel Springer, where I developed high-traffic websites with a strong focus on SEO and performance.',
    ],
  },
  {
    year: '2011',
    content:
      'Started my journey as a Frontend Developer, working on responsive designs and web applications at Vocento.',
  },
];
---

<MainLayout>
  <Heading title='Timeline' description='My professional career' />

  <section class='section'>
    <TimelinePosts entries={timelineEntries} />
  </section>
</MainLayout>
