<section id='articles'>
  <header class='text-container'>
    <h2 class='title-top center'>Artículos y presentaciones</h2>
    <h3 class='title center'>“Homines, dum docent, discunt”</h3>
    <p class='center'>
      Realmente disfruto compartiendo conocimientos porque realmente aprendo con
      ello. Por eso intento invertir algo de tiempo escribiendo y colaborando
      con personas que quieren aprender. Desde mi punto de vista, enseñar es la
      mejor inversión en la vida.
    </p>
  </header>

  <hr />
</section>

<style>
  section {
    background-color: #00818a;
    color: white;
    padding: 48px 0;
  }

  header {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  }
</style>
