<section>
  <figure class='center'>
    <img
      src='http://res.cloudinary.com/elchiconube/image/upload/v1528799019/axel_jhj1c8.png'
      alt='Axel Sringer Spain'
    />
  </figure>
  <div class='text-container'>
    <h2 class='title-top'>Grandes proyectos basados en Drupal</h2>
    <h3 class='title'>Proyectos editoriales con grandes cuotas de tráfico</h3>
    <p>
      El desafío en Axel Springer España fue crear una arquitectura de
      componentes reutilizables para los diferentes proyectos de la empresa
      donde el rendimiento era clave. Trabajé en portales como AutoBild,
      HobbyConsolas y ComputerHoy.
    </p>
  </div>
</section>

<style>
  section {
    background: #f73859;
    color: #fff;
    padding-top: 32px;
  }

  section > div {
    padding: 24px 0 48px;
  }
</style>
