<section id='bts'>
  <figure class='center'>
    <img
      src='http://res.cloudinary.com/elchiconube/image/upload/v1528798610/bts-1_lj8sct.png'
      alt='BTS'
    />
  </figure>
  <div class='text-container'>
    <h2 class='title-top'>Frontend Development &amp; UI/UX Desgin</h2>
    <h3 class='title'>El reto era crear un CMS en Salesforce.</h3>
    <p>
      ¡Vaya! Fue un verdadero desafío para mí. Crear un CMS completo en
      Salesforce fue una idea loca, pero también una gran oportunidad para crear
      un buen proyecto. Para ese propósito, propuse una arquitectura de
      componentes basada en el Diseño Atómico.
    </p>
    <p>
      Uno de mis objetivos era crear una interfaz de usuario limpia y agradable.
      El resultado fue una herramienta sencilla donde los usuarios pueden
      compartir y consultar diferentes tipos de contenido.
    </p>
    <p>
      Las tecnologías que he utilizado para este proyecto son Javascript,
      ReactJS, SASS, así como Strapi para la parte del backend.
    </p>
  </div>
  <figure class='center'>
    <img
      src='http://res.cloudinary.com/elchiconube/image/upload/v1528798609/bts-2_qiqrx9.png'
      alt='BTS'
    />
  </figure>
</section>

<style>
  section {
    background-color: #283149;
    color: white;
  }

  img {
    margin: 0 auto;
    display: inline-block;
    max-width: 100%;
  }
  figure {
    padding: 48px 0;
  }
</style>
