<section id='clinpify'>
  <figure class='center'>
    <img
      src='http://res.cloudinary.com/elchiconube/image/upload/v1528798883/clinpify-1_wqfdfb.png'
      alt='Clinpify'
    />
  </figure>
  <div class='text-container'>
    <h2 class='title-top'>Clinpify</h2>
    <h3 class='title'>
      Dise침ando la mejor experiencia de marketplace para empresas de lavado de
      coches
    </h3>
    <p>
      Proyecto personal en el que intento reinventar la industria del lavado de
      coches. Clinpify fue una soluci칩n ganar-ganar para empresas que quieren
      aprovechar las herramientas digitales e Internet. Controla tus reservas,
      incrementa tus ingresos, fideliza a tus clientes y monetiza tu tiempo.
    </p>
    <p>
      La aplicaci칩n iOS y web fueron dise침adas cuidando la Experiencia del
      Usuario y teniendo agradables detalles. El resultado fue este.
    </p>
  </div>
  <figure class='center'>
    <img
      src='http://res.cloudinary.com/elchiconube/image/upload/v1528798883/clinpify-2_fbk55f.png'
      alt='Clinpify'
    />
  </figure>
</section>

<style>
  section {
    padding: 48px 0;
    background-color: #242424;
    color: white;
  }
</style>
