---
import SocialLinks from './SocialLinks.astro';

const today = new Date();
---

<footer>
  <p>Crafted with love in {today.getFullYear()}.</p>
  <figure>
    <img src='/sign.webp' alt='Oscar sign' />
  </figure>
  <SocialLinks center />
</footer>
<style>
  footer {
    color: var(--light-gray);
    text-align: center;
    font-size: 13px;
    padding: 48px 0;
  }

  img {
    max-width: 120px;
  }
</style>
