<p>
  I'm a frontend developer passionate about crafting experiences for the web. I thrive on building solutions that simplify lives and turning small ideas into impactful projects. I also enjoy creating indie tools and sharing knowledge with the tech community.
</p>

<style>
  p {
    margin-top: 25px;
  }
</style>