<nav>
  <ul>
    <li>
      <a href='#about'>Sobre mi</a>
    </li>
    <li>
      <a href='#projects'>Proyectos</a>
    </li>
    <li>
      <a href='#articles'>Artículos</a>
    </li>
    <li>
      <a href='#book'>Libro</a>
    </li>
    <li>
      <a href='#contact'>Contacto</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  ul {
    display: flex;
    justify-content: center;
  }
  li {
    margin: 0;
  }

  a {
    font-family: 'Montserrat Variable', Verdana, sans-serif;
    color: white;
    padding: 12px 24px;
    display: inline-block;
    font-weight: bold;
  }
</style>
