<section id='projects'>
  <div class='container'>
    <h2 class='title-top center'>Proyectos</h2>
    <h3 class='title center'>Buscando la perfección en cada pixel</h3>
    <p class='center'>
      No hay proyectos pequeños. Cada detalle importa, desde la experiencia del
      usuario hasta el rendimiento del código. Con esta filosofía, podemos crear
      proyectos sólidos. Un claro ejemplo que me gustaría destacar es la
      aplicación de Mujer Hoy, en la cual tuve el privilegio de participar.
    </p>
    <figure class='center'>
      <img
        src='http://res.cloudinary.com/elchiconube/image/upload/v1528751378/awardmujerhoy_kgya43.jpg'
        alt='Mujer Hoy'
      />
    </figure>
  </div>
  <figure>
    <img
      class='full__image'
      src='http://res.cloudinary.com/elchiconube/image/upload/v1528906150/old-projects_hijtru.jpg'
      alt='Projects Oscar Bustos'
    />
  </figure>
</section>

<style>
  section {
    padding: 48px 0 0;
  }
  .container figure {
    margin: 24px 0;
  }
</style>
