<section>
  <figure class='center'>
    <a href='https://topdelmes.com/' target='_blank' rel='nofollow'>
      <svg
        width='150px'
        height='144px'
        viewBox='0 0 50 44'
        version='1.1'
        style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'
      >
        <g transform='matrix(0.14762,0,0,0.14762,0.195564,5.76769)'>
          <g>
            <g transform='matrix(1,0,0,1,0,9.5416)'>
              <path
                d='M237.8,180.339C164.166,126.733 106.392,174.358 100.701,179.341C100.382,179.674 100.034,179.985 99.656,180.27C95.805,183.176 90.327,182.411 87.421,178.561L33.468,107.291C31.698,104.925 31.162,101.722 32.341,98.781C34.133,94.309 39.214,92.137 43.688,93.93L88.176,111.844C123.463,125.309 103.938,40.455 103.885,40.205C103.301,37.589 103.929,34.736 105.832,32.559C109.002,28.929 114.511,28.566 118.133,31.732L146.468,56.587C163.042,71.129 174.357,75.634 183.249,71.892C193.253,67.688 202.607,53.684 213.852,32.058L213.871,32.058C215.395,29.141 218.517,27.202 222.026,27.377C226.837,27.603 230.555,31.682 230.322,36.501C229.449,54.071 230.432,74.558 235.33,90.627C237.966,99.24 241.666,106.416 246.735,110.771C251.178,114.581 257.078,116.245 264.809,114.686C271.839,113.267 280.282,109.37 290.354,102.356C293.494,100.023 297.925,100.027 301.084,102.623C304.795,105.68 305.336,111.174 302.282,114.89L249.667,178.834C246.748,182.369 241.555,183.07 237.8,180.339Z'
                style='fill:rgb(226,215,29);fill-rule:nonzero;'></path>
            </g>
            <g transform='matrix(-1,0,0,1,31.3363,-50.326)'>
              <ellipse
                cx='15.668'
                cy='135.123'
                rx='15.668'
                ry='15.665'
                style='fill:rgb(226,215,29);'></ellipse>
            </g>
            <g transform='matrix(-1,0,0,1,195.371,-188.595)'>
              <ellipse
                cx='97.685'
                cy='204.258'
                rx='15.666'
                ry='15.663'
                style='fill:rgb(226,215,29);'></ellipse>
            </g>
            <g transform='matrix(-1,0,0,1,640.729,-50.326)'>
              <ellipse
                cx='320.365'
                cy='135.123'
                rx='15.667'
                ry='15.665'
                style='fill:rgb(226,215,29);'></ellipse>
            </g>
            <g transform='matrix(-1,0,0,1,476.694,-188.595)'>
              <ellipse
                cx='238.347'
                cy='204.258'
                rx='15.664'
                ry='15.663'
                style='fill:rgb(226,215,29);'></ellipse>
            </g>
            <g transform='matrix(1,0,0,1,0,199.86)'>
              <path
                d='M132.109,0L203.922,0C209.434,0 213.951,4.514 213.951,10.031C213.951,15.549 209.434,20.06 203.922,20.06L132.109,20.06C126.593,20.06 122.079,15.549 122.079,10.031C122.079,4.514 126.593,0 132.109,0Z'
                style='fill:rgb(226,215,29);'></path>
            </g>
          </g>
        </g>
      </svg>
    </a>
  </figure>
  <div class='text-container'>
    <h2 class='title-top'>Lanzamiento de un producto digital</h2>
    <h3 class='title'>
      topdelmes.com: Ránkings y análisis de series y películas hechos por IA
    </h3>
    <p>
      En 2023 con el auge tecnológico y la llegada de la IA, creé esta página
      web totalmente automatizada, donde se analizan las series y películas más
      populares de las diferentes plataformas digitales.
    </p>
    <p>
      La página web se actualiza cada 24 horas, y se analizan las series y
      películas más populares de las diferentes plataformas digitales, como
      Netflix, HBO, Amazon Prime Video, Disney+, Apple TV+, Movistar+,
      Filmin.... Realiza artículos de opinión mediante IA y se crean ránkings de
      películas y series que se actualizan cada 24 horas. El objetivo es que el
      usuario pueda encontrar fácilmente las mejores películas y series de cada
      plataforma.
    </p>
    <p>
      El backend está hecho con Strapi y NodeJS y para la parte del frontend
      utilizo NextJS
    </p>
  </div>
  <figure>
    <a href='https://topdelmes.com/' target='_blank' rel='nofollow'>
      <img
        class='full__image'
        src='https://res.cloudinary.com/elchiconube/image/upload/v1695639801/topdelmes_gypcqu.png'
        alt='topdelmes.com'
      />
    </a>
  </figure>
</section>

<style>
  section {
    padding: 48px 0 0;
  }

  section .text-container {
    padding: 48px 0;
  }

  .video-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
