<section id='utad'>
  <figure>
    <img
      class='full__image'
      src='http://res.cloudinary.com/elchiconube/image/upload/v1528906010/u-tad_mvjtq2.jpg'
      alt='U-tad'
    />
  </figure>
  <div class='text-container'>
    <h2 class='title-top'>Profesor Asociado</h2>
    <h3 class='title'>
      Intento enseñar todo lo que me faltó en la universidad. Una de las
      experiencias más gratificantes.
    </h3>
    <p>
      Recuerdo perfectamente el día en que U-tad me brindó la oportunidad de ser
      profesor. Una mezcla de alegría y responsabilidad que continúa hasta hoy.
      Ser parte de la educación de una persona es una gran experiencia. Tengo la
      oportunidad de enseñar a futuros profesionales en diferentes grados acerca
      del Diseño de Interfaz y Desarrollo Web.
    </p>
  </div>
</section>

<style>
  section {
    background-color: #404b69;
    color: #fff;
  }
  section .text-container {
    padding: 24px 0 48px;
  }
</style>
