---
import Button from '@/components/Button.astro';
---

<article>
  <div>
    <h2>Is it a match?</h2>
    <p>
      If you need help or advice, feel free to drop us a message via social
      media or email
    </p>
    <Button href='mailto:oscarbustosgarrido@gmail.com' text='Contact me' />
  </div>
  <video preload='auto' autoplay loop muted>
    <source
      src='https://res.cloudinary.com/elchiconube/video/upload/v1528758653/video_ckbyru.mp4'
      type='video/mp4'
    />
    <source
      src='https://res.cloudinary.com/elchiconube/video/upload/v1528762133/video_qsocjt.webm'
      type='video/webm'
    />
  </video>
</article>

<style>
  div {
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    max-width: 0 auto;
  }
  video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  h2 {
    position: relative;
    z-index: 4;
    font-family: var(--fraunces-font);
    font-size: 42px;
    color: white;
    font-weight: 400;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  p {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
  }

  article {
    position: relative;
    text-align: center;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px 0 0;
  }

  article:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
    width: 100%;
    height: 100%;
  }
</style>
