<article class='video'>
  <div>
    <h3 class='title'>Pongámonos manos a la obra</h3>
    <p>
      <a
        class='button'
        href='mailto:oscarbustosgarrido@gmail.com'
        rel='nofollow'
        title='Contacta'>Contacta</a
      >
    </p>
  </div>
  <video preload='auto' autoplay loop muted>
    <source
      class='mp4'
      src='http://res.cloudinary.com/elchiconube/video/upload/v1528758653/video_ckbyru.mp4'
      type='video/mp4'
    />
    <source
      class='webm'
      src='http://res.cloudinary.com/elchiconube/video/upload/v1528762133/video_qsocjt.webm'
      type='video/webm'
    />
  </video>
</article>

<style>
  article {
    position: relative;
    color: #fff;
    text-align: center;
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  article::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
    width: 100%;
    height: 100%;
  }
  video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  p,
  h3 {
    position: relative;
    z-index: 4;
  }

  h3 {
    margin-bottom: 48px;
  }
</style>
