---
import Container from '@/components/Container.astro';
import Heading from '@/components/Heading.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import Button from '@/components/Button.astro';
---

<MainLayout>
  <Container>
    <Heading title='Badger' description='2023' />
    <section>
      <header>
        <figure class='icon'>
          <a href='https://getbadger.io/' target='_blank' rel='noopener'
            ><img src='/badger.webp' alt='Badger logo' /></a
          >
        </figure>
      </header>
      <p>
        Badger is a powerful tool designed to help digital agencies and
        freelancers streamline their SEO reporting process. With its white-label
        capabilities, Badger enables users to create fully branded, customizable
        reports that include metrics such as website traffic, keyword rankings,
        and backlinks. These reports not only provide clear insights into SEO
        performance but also strengthen client relationships by delivering
        tailored, professional updates. Badger's intuitive design and data
        visualization features make it easy to highlight trends, provide
        actionable recommendations, and maintain consistent communication with
        clients.
      </p>

      <figure class='screenshot'>
        <img src='/badger1.gif' alt='Badger screenshot' />
      </figure>

      <p>
        As a Senior Frontend Developer for the Badger project, I was part of a
        small, dedicated team that built the platform from scratch. Leveraging
        technologies like ReactJS, CSS Modules, Cypress, and Chart.js, I
        developed user-friendly interfaces and implemented advanced data
        visualization tools to enhance the reporting experience. I collaborated
        closely with the team to ensure a seamless integration of features and
        maintain a high-quality codebase through robust testing. My role also
        involved creating scalable components and ensuring the platform
        delivered consistent performance, aligning with marketgoo's mission to
        empower agencies with effective and customizable SEO solutions.
      </p>
      
      <div class='youtube'>
        <iframe
          width='600px'
          height='336px'
          src='https://www.youtube.com/embed/FvuYtYbfLbs?si=ZGyUgFp2K1viXlcO'
          title='YouTube video player'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
          allowfullscreen></iframe>
      </div>

      <aside>
        <ul>
          <li>
            <Button
              href='https://getbadger.io/'
              target='_blank'
              rel='noopener'
              text='Website'
            />
          </li>
        </ul>
      </aside>
    </section>

    <style>
      header {
        text-align: center;
        margin-bottom: 24px;
        gap: 24px;
      }

      .icon {
        margin: 0 auto;
        box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.5);
        border-radius: 12px;
        width: 100px;

        img {
          width: 100%;
          display: block;
          border-radius: 12px;
          height: auto;
        }
      }

      .screenshot {
        text-align: center;
        margin: 24px 0;

        img {
          max-width: 100%;
          display: inline-block;
        }
      }

      aside {
        margin-top: 38px;

        ul {
          display: flex;
          gap: 12px;
        }
      }

      .youtube {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
  </Container>
</MainLayout>
