---
import Container from '@/components/Container.astro';
import Heading from '@/components/Heading.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import Button from '@/components/Button.astro';
---

<MainLayout>
  <Container>
    <Heading title='BTS' description='2015' />
    <section>
      <header>
        <figure class='icon'>
          <a href='https://bts.com/' target='_blank' rel='noopener'
            ><img src='/bts.webp' alt='BTS logo' /></a
          >
        </figure>
      </header>
      <p>
        BTS is a global leader in creating innovative solutions to improve
        business operations and decision-making. During my time at BTS, I led
        the development of a knowledge management platform designed to
        streamline the organization and accessibility of critical information.
        The platform provided teams with a centralized system for managing
        content, improving collaboration, and driving operational efficiency.
      </p>
      <figure class='screenshot'>
        <img src='/bts1.webp' alt='BTS screenshot' />
      </figure>

      <p>
        As the Frontend Technical Lead at BTS, I spearheaded the architecture
        and development of the platform's user-facing systems. I implemented a
        REST API using Strapi to manage and store content efficiently, while
        also designing and developing an intuitive web application to enable
        seamless content consumption. I guided the team in adopting best
        practices and ensuring scalability across the project. My role also
        involved mentoring team members, fostering an environment of
        collaboration, and delivering a high-quality product aligned with the
        company's vision. This position further strengthened my ability to lead
        teams and deliver impactful digital solutions in a global context.
      </p>

      <figure class='screenshot'>
        <img src='/bts2.webp' alt='BTS screenshot' />
      </figure>

      <aside>
        <ul>
          <li>
            <Button
              href='https://bts.com/'
              target='_blank'
              rel='noopener'
              text='Website'
            />
          </li>
        </ul>
      </aside>
    </section>

    <style>
      header {
        text-align: center;
        margin-bottom: 24px;
        gap: 24px;
      }

      .icon {
        margin: 0 auto;
        box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.5);
        border-radius: 12px;
        width: 100px;

        img {
          width: 100%;
          display: block;
          border-radius: 12px;
          height: auto;
        }
      }

      .screenshot {
        text-align: center;
        margin: 24px 0;

        img {
          max-width: 100%;
          display: inline-block;
        }
      }

      aside {
        margin-top: 38px;

        ul {
          display: flex;
          gap: 12px;
        }
      }
    </style>
  </Container>
</MainLayout>
