---
import Container from '@/components/Container.astro';
import Heading from '@/components/Heading.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import Button from '@/components/Button.astro';
---

<MainLayout>
  <Container>
    <Heading title='Pulse' description='2022' />
    <section>
      <header>
        <figure class='icon'>
          <a
            href='https://www.urbandataanalytics.com/pulse'
            target='_blank'
            rel='noopener'><img src='/pulse.webp' alt='Pulse logo' /></a
          >
        </figure>
      </header>
      <p>
        Pulse is an innovative platform designed to streamline real estate
        investment by providing detailed insights and tools to evaluate and
        identify opportunities. Focused on data visualization and user-centric
        design, Pulse enables investors to analyze market trends, property
        performance, and financial projections with ease. This cutting-edge
        solution empowers real estate professionals to make data-driven
        decisions, unlocking valuable opportunities in an increasingly
        competitive market.
      </p>

      <figure class='screenshot'>
        <img src='/pulse1.webp' alt='Pulse screenshot' />
      </figure>

      <p>
        As the Frontend Technical Lead for Pulse, I oversaw the development and
        architecture of the platform's user interface. Leveraging ReactJS,
        Chart.js, and Styled Components, I led the team in building scalable,
        visually engaging, and intuitive components that transformed complex
        data into actionable insights. I established robust testing practices
        using Jest to ensure a high-quality, stable product. Beyond the
        technical responsibilities, I guided the team by fostering
        collaboration, mentoring developers, and ensuring alignment with
        urbanData Analytics' vision for innovation in real estate technology. My
        leadership ensured the delivery of a polished platform that met both
        business and user needs.
      </p>

      <aside>
        <ul>
          <li>
            <Button
              href='https://www.urbandataanalytics.com/pulse'
              target='_blank'
              rel='noopener'
              text='Website'
            />
          </li>
        </ul>
      </aside>
    </section>

    <style>
      header {
        text-align: center;
        margin-bottom: 24px;
        gap: 24px;
      }

      .icon {
        margin: 0 auto;
        box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.5);
        border-radius: 12px;
        width: 100px;

        img {
          width: 100%;
          display: block;
          border-radius: 12px;
          height: auto;
        }
      }

      .screenshot {
        text-align: center;
        margin: 24px 0;

        img {
          max-width: 100%;
          display: inline-block;
        }
      }

      aside {
        margin-top: 38px;

        ul {
          display: flex;
          gap: 12px;
        }
      }
    </style>
  </Container>
</MainLayout>
