---
import Container from '@/components/Container.astro';
import Heading from '@/components/Heading.astro';
import Features from '@/components/Features.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import Button from '@/components/Button.astro';
---

<MainLayout>
  <Container>
    <Heading title='Robots.txt' description='2024' />
    <section>
      <header>
        <figure class='icon'>
          <a
            href='https://generaterobotstxt.com '
            target='_blank'
            rel='noopener'
            ><img src='/robotstxt.webp' alt='Robots.txt logo' /></a
          >
        </figure>
      </header>
      <p>
        The robots.txt Generator is a powerful yet simple tool designed to help
        you create and manage your robots.txt file effortlessly. This tool lets
        you control how search engines, web crawlers or AI bots interact with
        your site.
      </p>
      <video preload='auto' autoplay loop muted>
        <source src='/robotstxt.mp4' type='video/mp4' />
      </video>
      <figure class='screenshot'>
        <a
          href='https://www.producthunt.com/posts/robots-txt-generator-3'
          title='Product Hunt launch'
          ><img width='200' src='/ph.svg' alt='Product Hunt' /></a
        >
      </figure>
      <p>
        This little open source solution was awared as second product of the day
        at Product Hunt, with 344 votes. All without any campaign. The project
        was builded with NextJS and Radix UI.
      </p>
      <Features
        features={[
          'Create custom robots.txt file based on your project and preferences',
          'Check your robots.txt',
          'Get the robots.txt from any website',
        ]}
      />
      <aside>
        <ul>
          <li>
            <Button
              href='https://github.com/elchiconube/generate-robots-txt'
              target='_blank'
              rel='noopener'
              text={`Check the code`}
            />
          </li>
          <li>
            <Button
              href='https://generaterobotstxt.com/'
              target='_blank'
              rel='noopener'
              text='Website'
            />
          </li>
        </ul>
      </aside>
    </section>
  </Container>

  <style>
    header {
      text-align: center;
      margin-bottom: 24px;
      gap: 24px;
    }

    .icon {
      margin: 0 auto;
      box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.5);
      border-radius: 12px;
      width: 100px;

      img {
        width: 100%;
        display: block;
        border-radius: 12px;
        height: auto;
      }
    }

    .screenshot {
      text-align: center;
      margin: 24px 0;

      img {
        max-width: 100%;
        display: inline-block;
      }
    }

    video {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }

    aside {
      margin-top: 38px;

      ul {
        display: flex;
        gap: 12px;
      }
    }
  </style>
</MainLayout>
