---
import Container from '@/components/Container.astro';
import Heading from '@/components/Heading.astro';
import Features from '@/components/Features.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import Button from '@/components/Button.astro';
---

<MainLayout>
  <Container>
    <Heading title='Topdelmes' description='2023' />
    <section>
      <header>
        <figure class='icon'>
          <a href='https://topdelmes.com ' target='_blank' rel='noopener'
            ><img src='/topdelmes.webp' alt='Topdelmes logo' /></a
          >
        </figure>
      </header>
      <p>
        In 2023, leveraging the rise of AI and technological advancements, I
        created topdelmes.com, a fully automated website that ranks and analyzes
        the most popular series and movies from leading streaming platforms like
        Netflix, HBO, Amazon Prime Video, Disney+, Apple TV+, Movistar+, and
        Filmin. The platform updates every 24 hours, providing users with
        dynamic rankings and AI-generated opinion articles to help them discover
        the best content effortlessly.
      </p>
      <p>
        As the creator and developer of topdelmes.com, I designed and built both
        the backend and frontend architecture. The backend is powered by Strapi
        and Node.js, ensuring efficient content management and data processing.
        For the frontend, I utilized Next.js to deliver a fast, responsive, and
        user-friendly interface. By combining automation with AI-driven
        insights, I aimed to simplify content discovery and enhance the user
        experience in navigating the ever-growing world of digital
        entertainment.
      </p>

      <Features
        features={[
          'Updated rankings every 24h',
          'Reviews based on AI every day',
          'Top 3 on Google Search ranking with project key words',
          'Less than 5€ month cost',
        ]}
      />
    </section>
  </Container>

  <figure class='screenshot'>
    <a href='https://www.topdelmes.com/' title='Topdelmes launch'
      ><img src='/topdelmes1.webp' alt='Topdelmes' /></a
    >
  </figure>

  <Container>
    <aside>
      <ul>
        <li>
          <Button
            href='https://topdelmes.com/'
            target='_blank'
            rel='noopener'
            text='Website'
          />
        </li>
      </ul>
    </aside>
  </Container>

  <style>
    header {
      text-align: center;
      margin-bottom: 24px;
      gap: 24px;
    }
    .icon {
      margin: 0 auto;
      box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.5);
      border-radius: 12px;
      width: 100px;

      img {
        width: 100%;
        display: block;
        border-radius: 12px;
        height: auto;
      }
    }

    .screenshot {
      text-align: center;
      margin: 24px 0;

      img {
        max-width: 100%;
        display: inline-block;
      }
    }

    aside {
      margin-top: 38px;

      ul {
        display: flex;
        gap: 12px;
      }
    }
  </style>
</MainLayout>
